@model IEnumerable<EcommerceDDD.Application.Core.Models.ProdutoModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Descricao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Valor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.QtdEstoque)
			</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Descricao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Valor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Observacao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.QtdEstoque)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.NomeCampo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mensagem)
				</td>
				<td>
					@Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
					@Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
					@Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>